.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  height: 100vh; /* Ensure the container takes full height of the viewport */
}

.sidebar {
  width: 200px; /* Adjust width as needed */
  /* Add other styles for the sidebar */
}

.content-container {
  flex: 1; /* Take remaining space */
  margin-left: 200px; /* Set margin to match sidebar width when expanded */
  transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

.sidebar.collapsed + .content-container {
  margin-left: 50px; /* Adjust margin when sidebar is collapsed */
}

/* Additional styles as needed */