.playlist-songs-container {
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the container horizontally */
}

.section-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.song-grid {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  justify-content: center; /* Center the items horizontally */
  gap: 20px; /* Add some space between items */
  margin-top: 20px; /* Add some margin at the top for spacing */
}


.song-card {
  width: 200px; /* Set a fixed width for each song card */
  height: auto; /* Allow the height to adjust based on content */
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.song-link {
  display: block;
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease;
}

.song-link:hover {
  transform: translateY(-5px);
}

.song-thumbnail {
  width: 100%; /* Make the thumbnails fill the available width */
  height: auto; /* Maintain the aspect ratio */
  max-height: 150px; /* Limit the maximum height of the thumbnails */
}

.song-info {
  padding: 10px;
}

.song-title {
  margin: 0;
  font-size: 18px;
}
